**/bin/
**/obj/
**/out/
**/.vs/
**/.idea/
**/.vscode/
**/*.user
**/*.suo

.git/
.gitignore
.gitattributes

LICENSE
README.md
*.md

docker-compose*.yml
Dockerfile*
.dockerignore

**/Properties/launchSettings.json

.env
*.local.json
